.About{
    background-color: #FFD662;
    position: relative;
      height: 150px;
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 90px 0;
      
  }
  
  .redirect{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
    font-size: 1.5em;
    background-color: #FFD662;
  
   
  }

.body-about{
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.about-image{
  height: 350px;
  width: 350px;

}