.header-main{
    background: linear-gradient(rgba(0, 83, 156, 1), rgba(0, 83, 156, .9), rgba(0, 83, 156, 1)), url('https://www.amigosbusinesscorp.com/img/celebration.jpg');
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}

.header{
    display: flex;
    justify-content: space-between;
   
    height: 110px;
    flex-wrap: wrap;
}

.icon{
    height: 92px;
    width: 260px;
    cursor:pointer
}

.form-sub-part{
    display: flex;
    margin-top: 20px;
}

.explore-part{
    width: 50%;
    text-align: center;
    margin-top: 80px;
    
}

.form-container{
    text-align: center;
    width: 50%;
    background: transparent;
}

.team-one{
    display: flex;
    justify-content: space-around;
}

.team-two{
    display: flex;
    justify-content: space-around;
}


.mem-image{
    position: relative;
    font-size: 0;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}


.team-info{
    margin-top: 100px;
  text-align: center;
}


.faq-main{
    display: flex;
    margin-top: 50px;
}
.faq-left{
    width: 50%;
}

.faq-right{
    width: 50%;
}

.student-cards{
    display: flex;
    justify-content: space-around;
}

.blog {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.blog .blog-container {
    /* padding: 55px; */
    padding-left: 50px;
    align-items: center;
    padding-right: 50px;
    width: 100%;
  }
  .blog .blog-section-header {
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .blog .blog-section-header p {
    font-size: 20px;
    color: #6e6e6e;
    width: 550px;
    height: 30px;
  }
  
  .blog .blog-section-header h2 {
    font-size: 50px;
    color: #00539C;
    width: 520px;
    height: 120px;
    align-items: center;
  }
  

  .blog .blog-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
  }

  .blog .blog-item {
    position: relative; 
    justify-content: space-around;
    width: 90%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 30px;
    background: #ffffff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.blog .blog-item p {
    padding: 0 30px;
    font-size: 16px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.blog .blog-item img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.blog .blog-item h3 {
    margin: 0;
    padding: 25px 30px 5px 30px;
    font-size: 22px;
    font-weight: 300;
    color: #00539C;
    margin-left: 2px;
}

.blog .blog-item .meta {
    padding: 0 30px 15px 30px;
    color: #00539C;
    justify-content: space-between;
}

.blog .blog-item .meta * {
    display: inline-block;
    margin: 3px;
    padding: 0;
    font-size: 14px;
    color: #999999;
}

.blog .blog-item .meta i {
    margin: 0 2px 0 10px;
}

.blog .blog-item .meta i:first-child {
    margin-left: 0;
}

.blog .blog-item p {
    margin-top: -40px;
    padding:  30px;
    font-size: 16px;
    padding-bottom: 5px;
    margin-left: 1px;
}

.blog .blog-item a.btn {
    position: relative;
    margin: 5px 30px 30px 30px;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
    border: none;
    border-radius: 5px;
    background: #FFD662;
    transition: .3s;
}

.blog .blog-item:hover a.btn {
    color: #ffffff;
    background: #00539C;
}

.blog .blog-item a.btn:hover {
    color: #000000;
    background: #FFD662;
}


.a{
    margin: 5px 10px;
    color:  #FFD662;
}

