.header-down{
    display:flex;
 
   height: 80vh;
   background-color: #00539c;
}

.down-left{
    
    width: 50%;
    position: relative;
    top :35%;
    left: 20%;
   
    
}

.down-right{
    width: 50%;
    position: relative;
    top: 10%;
}


.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8); /* White with transparency */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8); /* White with transparency */
  }
  
  input[type="submit"] {
    background: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }


  .carousel-container {
    display: flex;
    overflow: hidden;
    width: 300px;
    margin: 0 auto;
}

.carousel-slide {
    min-width: 300px;
}

.carousel-slide img {
    width: 100%;
}

.prev-button, .next-button {
    display: block;
    margin: 10px auto;
}

.faq-main{
  display: flex;
}

.faq-left{
  width: 50%;

}

.faq-right{
  width: 50%;
  align-items: center;
}